$code-background-color: #f4f4f4;

.paths {
  width: 70%;
  &__pathItem{
    margin-bottom: 50px;
    h3{
      font-size: 1.5em;
    }
  }
  &__list{
    padding-left: 16px;
    margin: 20px 0 32px;
    p{
      span{
        font-weight: 700;
      }
    }
    pre{
      background-color: $code-background-color;
      padding: 20px;
    }
  }
}
